<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uci.dao.RequestServiceDao">

    <!--<resultMap id="ActivityPlanMapper" type="com.im.server.mode.activity.ActivityPlanEntity">-->
    <!--<result column="activity_id" property="activityId"/>-->
    <!--<result column="publisher_pid" property="publisherPid"/>-->
    <!--<result column="publisher_name" property="publisherName"/>-->
    <!--<result column="publisher_remark" property="publisherRemark"/>-->
    <!--<result column="title" property="title"/>-->
    <!--<result column="des" property="des"/>-->
    <!--<result column="recv_pid" property="recvPid"/>-->
    <!--<result column="status" property="status"/>-->
    <!--<result column="url" property="url"/>-->
    <!--<result column="created_at" property="createdAt"/>-->
    <!--<result column="updated_at" property="updatedAt"/>-->
    <!--</resultMap>-->


    <!--<resultMap id="ActivityMapper" type="com.im.server.mode.activity.ActivityEntity">-->
    <!--<result column="activity_id" property="activityId"/>-->
    <!--<result column="publisher_pid" property="publisherPid"/>-->
    <!--<result column="publisher_type" property="publisherType"/>-->
    <!--<result column="publisher_name" property="publisherName"/>-->
    <!--<result column="publisher_remark" property="publisherRemark"/>-->
    <!--<result column="title" property="title"/>-->
    <!--<result column="des" property="des"/>-->
    <!--<result column="location" property="location"/>-->
    <!--<result column="content" property="content"/>-->
    <!--<result column="start_at" property="startAt"/>-->
    <!--<result column="end_at" property="endAt"/>-->
    <!--<result column="created_at" property="createdAt"/>-->
    <!--<result column="updated_at" property="updatedAt"/>-->
    <!--</resultMap>-->

    <!--&lt;!&ndash;void insertActivity(ActivityEntity activityEntity);&ndash;&gt;-->
    <!--<select id="insertActivity" parameterType="com.im.server.mode.activity.ActivityEntity">-->
    <!--INSERT into tb_activity (activity_id, publisher_pid, publisher_type, publisher_name,-->
    <!--publisher_remark,title, des, location, content, start_at,end_at, range)-->
    <!--values (#{activityId},#{publisherPid},#{publisherType},#{publisherName},-->
    <!--#{publisherRemark},#{title},#{des},#{location},#{content},#{startTime},#{endTime},#{range})-->
    <!--</select>-->
    <!--&lt;!&ndash;void insertActivityPlan(ActivityPlanEntity activiyPlanEntity);&ndash;&gt;-->
    <!--<select id="insertActivityPlan" parameterType="com.im.server.mode.activity.ActivityPlanEntity">-->
    <!--INSERT into tb_activity_plan (activity_id, publisher_pid, publisher_name,-->
    <!--publisher_remark,title, des, recv_pid,status, url)-->
    <!--values (#{activityId},#{publisherPid},#{publisherType},#{publisherName},-->
    <!--#{publisherRemark},#{title},#{des},#{recvPid},#{status},#{url})-->
    <!--</select>-->

    <!--<select id="insertActivityPlans" parameterType="java.util.List" flushCache="true">-->
    <!--INSERT into tb_activity_plan (activity_id, publisher_pid, publisher_name,-->
    <!--publisher_remark,title, des, recv_pid, url)-->
    <!--values-->
    <!--<foreach collection="list" item="item" index="index" separator=",">-->
    <!--(#{activityId},#{publisherPid},#{publisherType},#{publisherName},#{publisherRemark},#{title},#{des},#{recvPid},#{url})-->
    <!--</foreach>-->
    <!--</select>-->


    <!--&lt;!&ndash;void insertActivityPic(@Param("activityId") Long activityId, @Param("url") String url);&ndash;&gt;-->
    <!--<select id="insertActivityPic" parameterType="java.util.Map">-->
    <!--INSERT into tb_activity_pic (activity_id,url) values (#{activityId},#{url})-->
    <!--</select>-->


</mapper>