<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uci.dao.RequestServiceDao">

    <update id="update" parameterType="com.uci.mode.AsyResponse">
        update tb_request set status = #{status}, remark = #{remark} where id =#{id}
    </update>

    <insert id="insert" parameterType="com.uci.mode.Request" useGeneratedKeys="true">
        INSERT into tb_request (ip, port, path, params, status)
        INSERT into tb_notice_plan (notice_id, title, des, sender_pid, sender_name, sender_identifdy,recv_pid,recv_name, recv_identify)
   		values (#{noticeId},#{title}, #{des}, #{senderPid},#{senderName},#{senderIdentify}, #{recvPid},#{recvName},#{recvIdentify})
    </insert>
    <!---->
</mapper>